@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*, html, body {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.pl-5 {
    padding-left: 3.5rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    width: 100%;
}

.overview {
    width: 40%;
}

@media (max-width: 700px) {
    .flex {
        flex-direction: column;
    }
    
    .overview {
        width: 100%;
    }
}